.markdown h1 {
  color: #454d64;
}
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  clear: both;
  margin: 1.6em 0 0.6em !important;
  color: #454d64;
  font-weight: 500 !important;
}
