.markdown h1 {
  color: #454d64;
}
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  clear: both;
  margin: 1.6em 0 0.6em !important;
  color: #454d64;
  font-weight: 500 !important;
}

.markdown hr {
  width: 100% !important;
}

.markdown blockquote {
  font-style: normal !important;
  background-color: #fffbe6 !important;
  border-left: 5px solid #ffad14 !important;
}

.markdown blockquote > p {
  margin-block-end: 1em !important;
}
